:root {
  --gradient: linear-gradient(135deg, #a3a8f0 0%, #696fdd 100%);
  --lighter-grayish-blue: #f6f6fe;
  --light-grayish-blue: #b3b5c6;
  --grayish-blue: #6e728e;
  --dark-grayish-blue: #494c5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--grayish-blue);
  background-color: #f2f2f2;
}

main {
  position: relative;
  height: 100vh;
}

.img-top {
  position: absolute;
  top: 0;
  right:0;
  z-index: -1;
}

/* PRICING COMPONENT */
.pricing {
  text-align: center;
  padding: 6.4rem 6.8rem 8rem;
}

.pricing > h1 {
  font-size: 3.2rem;
  line-height: 3.9rem;
  margin-bottom: 4rem;
}

.pricing__toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__toggler > span {
  opacity: 0.5;
  line-height: 2.8rem;
}

/* TOGGLE COMPONENT */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--gradient);
  transition: .4s;
  border-radius: 16px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

/* CARDS COMPONENT */
.card {
  background-color: #fff;
  max-width: 327px;
  margin: 0 auto 3rem;
  padding: 3rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
}

.card__plan {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;
}

.price__symbol {
  font-size: 4rem;
  letter-spacing:-1.2px;
  line-height: 4.9px;
  margin-right: 0.7rem;
}

.card__price {
  font-size: 7rem;
  line-height: 7.1rem;
  letter-spacing: -2.16px;
  color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.card__items {
  list-style-type: none;
  line-height: 2.8rem;
}

.card__items > li {
  padding: 1rem 0;
  border-top: 1px solid hsla(232, 13%, 49%, 25%);
}

.card__items > li:last-child {
  border-bottom: 1px solid hsla(232, 13%, 49%, 25%);
  margin-bottom: 3rem;
}

.btn {
  background: var(--gradient);
  display: inline-block;
  width:100%;
  padding: 1.4rem 0;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1.39px;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.6rem;
  border: 1px solid #fff;
  transition: all .2s ease 0s;
}

/* FOOTER */
.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: 1rem;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 967px) {
  .cards {
    display: flex;
    justify-content: center;
    position: relative;
    height: 50vh;
  }

  .card {
    margin: 0;
    width: 350px;
  }

  .card-left {
    border-radius: 10px 0 0 10px;
    position: absolute;
    margin-left: -650px;
  }

  .card-right {
    border-radius: 0 10px 10px 0;
    position: absolute;
    margin-right: -650px;
  }

  .card-middle {
    background: var(--gradient);
    color: #fff;
    z-index: 1;
    margin-top: -30px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-middle .card__price,
  .card-middle .card__price-symbol {
    color: #fff;
  }

  .card-middle .card__items > li {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
  
  .card-middle .card__items > li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  .btn__card-middle {
    background: #fff;
    color: #696fdd;
  }

  .btn__card-middle:hover {
    background: var(--gradient);
    color: #fff;
  }

  .btn__card-left:hover,
  .btn__card-right:hover {
    background: #fff;
    color: #696fdd;
    border: 1px solid #696fdd;
  }

  .img-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}